@model IEnumerable<Account>
<div class="page-header">
    <h3 style="font-family:Helvetica;" class="page-title"> DANH SÁCH CƯ DÂN </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tables</a></li>
            <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
        </ol>
    </nav>
</div>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 style="font-family:Helvetica;" class="card-title"> DANH SÁCH CƯ DÂN </h4>
            <div class="d-flex justify-content-between">

                <a asp-action="Create" class="btn btn-success mb-2">Thêm</a>


                <div class="ml-auto">
                    <button type="button" class="btn btn-info mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Import File Excel
                    </button>

                </div>
            </div>
            @await Html.PartialAsync("_PartialViewCreateList", new Account())
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> MÃ CƯ DÂN </th>
                        <th> HỌ TÊN & NGÀY SINH  </th>
                        <th> MÃ CĂN HỘ </th>
                        <th> TÊN CĂN HỘ </th>
                        <th> QUAN HỆ  </th>
                        <th>    QUỐC TỊCH </th>
                        <th> TRẠNG THÁI  </th>
                        <th> THAO TÁC  </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="py-1">
                                @item.Code
                            </td>
                            <td>
                                <div style="margin-bottom:5px;">
                                    @item.Info?.FullName
                                </div>
                                <div>
                                    @item.Info?.BirthDay
                                </div>
                            </td>
                            <td>
                                @item.Apartment?.ApartmentCode
                            </td>
                            <td> @item.Apartment?.ApartmentName </td>
                            <td> @item.Relationship?.RelationshipName </td>
                            <td> @item.Info?.Country </td>
                            @if (item.Status == 1)
                            {
                                <td> Hoạt động </td>
                            }@if (item.Status == 2)
                            {
                                <td>Ngừng Hoạt động </td>
                            }@if (item.Status == 3)
                            {
                                <td> Đang bảo trì </td>
                            }
                            <td>
                                <a asp-action="Details" asp-route-id="@item.AccountId" class="action-icon"> <i class="mdi mdi-eye" style="color:#19b6ff;font-size:25px;"></i>  </a>
                                <a asp-action="Edit" asp-route-id="@item.AccountId" class="action-icon"> <i class="mdi mdi-square-edit-outline" style="color:#ffd83b;font-size:25px;"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.AccountId" class="action-icon"> <i class="mdi mdi-delete" style="color:#e75555;font-size:25px;"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>